body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}
.layout-body {
  background-color: var(--bgColor-inset);
  color: var(--fgColor-default);
}
.main-content {
  padding: 24px;
  background-color: var(--color-bg-default);
}
