* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vh;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}
.layout-body {
  background-color: var(--bgColor-inset);
  color: var(--fgColor-default);
  min-height: 100vh;
}
.main-content {
  padding: 10px;
  margin: 0;
  width: auto;
  background-color: var(--color-bg-default);
}
