.divImage {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  box-shadow: var(--shadow-floating-medium);
  overflow: hidden;
  border-color: var(--borderColor-default);
  background-color: var(--bgColor-muted);
  border-radius: 18px;
  padding: 1px;
  margin: 20px 0px;
}

.qrImage {
  box-shadow: var(--shadow-floating-medium);
}

.cardBody {
  background-color: var(--bgColor-default);
  flex-grow: 1;
  padding: 24px;
}

.cardTitle {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

.cardText {
  line-height: 1.4;
  margin: 10px 0px 0px 0px;
  font-size: 17px;
}
