.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 28px;
  position: sticky;
  top: 0;
  z-index: 50;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.logoButton {
  display: flex !important;
  align-items: center;
  gap: 10px;
  background: transparent !important;
  border: none !important;
}

.logoText {
  font-weight: 600;
  font-size: 18px;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  gap: 24px;
  font-size: 15px;
}

.nav a {
  text-decoration: none;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search input {
  width: 230px !important;
  border-radius: 20px !important;
}
