.actions {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 4px;
}

.iconBtn {
  color: var(--fgColor-muted);
}

.iconBtn:hover {
  color: var(--fgColor-default);
}

.liked {
  color: var(--fgColor-danger);
}

.actionItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.counter {
  font-size: 13px;
  color: var(--fgColor-muted);
}

.replyBtn {
  font-size: 13px;
  color: var(--fgColor-accent);
}
