/* Cards */
.profileHeaderCard {
  position: relative;
  padding-top: 72px;
}
.profileCard {
  background: var(--bgColor-default);
  border: 1px solid var(--borderColor-default);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
}

.imageWrapper {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.profileAvatar {
  position: absolute;
  top: 75px;
  left: 24px;
  border: 4px solid var(--bgColor-default);
  background: var(--bgColor-default);
}

.profileHeaderInfo {
  margin: 20px;
  margin-top: 50px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.profileHeaderActions {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/* ===== RESUME LAYOUT ===== */

.profileResume {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 24px;
  margin-top: 16px;
}

/* Coluna esquerda */
.resumeMain {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Coluna direita */
.resumeSidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Responsivo */
@media (max-width: 900px) {
  .profile-resume {
    grid-template-columns: 1fr;
  }
}
