.image-wrapper {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.profile-avatar {
  position: absolute;
  top: 75px;
  left: 24px;
  border: 4px solid var(--bgColor-default);
  background: var(--bgColor-default);
}

.profile-header-info {
  margin: 20px;
  margin-top: 50px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Cards */
.profile-header-card {
  position: relative;
  padding-top: 72px;
}
.profile-card {
  background: var(--bgColor-default);
  border: 1px solid var(--borderColor-default);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
}

/*--------*/
.profile-headline {
  font-size: 16px;
}

.profile-meta {
  font-size: 14px;
  color: var(--fgColor-muted);
}

.profile-actions {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

/* Posts */
.profile-post {
  padding: 12px 0;
  border-top: 1px solid var(--borderColor-muted);
}

.profile-post:first-child {
  border-top: none;
}

.profile-muted {
  color: var(--fgColor-muted);
}

/* ===== RESUME LAYOUT ===== */

.profile-resume {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 24px;
  margin-top: 16px;
}

/* Coluna esquerda */
.resume-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Coluna direita */
.resume-sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.resume-sidebar .resume-section {
  background: var(--bgColor-default);
}

/* Seções */
.resume-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--borderColor-muted);
  margin-bottom: 12px;
}
.resume-section {
  background: var(--bgColor-default);
  border: 1px solid var(--borderColor-default);
  border-radius: 8px;
  padding: 16px;
}

.resume-section h3,
.resume-section h4 {
  margin-bottom: 0px;
  font-size: large;
}

.resume-actions {
  display: flex;
  align-items: center;
  gap: 6px;
}

.resume-actions button {
  padding: 4px;
}

/* Itens */
.resume-item {
  padding: 8px 0;
}

.resume-item + .resume-item {
  border-top: 1px solid var(--borderColor-muted);
}

.resume-item strong {
  font-size: 15px;
  font-weight: 600;
  color: var(--fgColor-default);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.resume-sub {
  font-size: 14px;
  color: var(--fgColor-muted);
}

.resume-date {
  font-size: 12px;
  color: var(--fgColor-muted);
  margin-bottom: 6px;
}

/* Listas laterais */
.resume-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resume-list li {
  font-size: 14px;
  padding: 4px 0;
  color: var(--fgColor-default);
}

.modal-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.date-row {
  display: flex;
  gap: 12px;
}

/* Responsivo */
@media (max-width: 900px) {
  .profile-resume {
    grid-template-columns: 1fr;
  }
}
