.container {
  padding: 12px;
  border: 1px solid var(--borderColor-default);
  border-radius: 12px;
  background: var(--bgColor-default);
  margin-bottom: 16px;
}

.contentArea {
  width: 100%;
}

.textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 15px;
  background: transparent;
  color: var(--fgColor-default);
}

.textarea:focus {
  outline: none;
}

.previewBox {
  position: relative;
  margin-top: 8px;
  width: fit-content;
  /*max-width: 320px;*/
}

.previewImg {
  width: auto;
  height: 100%;
  max-height: 320px;
  border-radius: 12px;
  border: 1px solid var(--borderColor-muted);
}

.removeImageBtn {
  position: absolute;
  top: 6px;
  right: 6px;
  background: var(--button-danger-iconColor-rest);
  color: var(--fgColor-onInverse);
}

.actionBar {
  margin-top: 8px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--borderColor-muted);
}

.fileInput {
  display: none;
}
