.commentList {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentBox {
  margin-left: 40px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.commentActions {
  display: flex;
  justify-content: flex-end;
}
